:root {
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;
    --menu-size: 300px;
    --icon-size-large: 75px;
    --icon-size-small: 55px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background: var(--color-primary-dark);
}
.menu {
    position: relative;
    width: var(--menu-size);
    height: var(--menu-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .toggle {
    position: relative;
    width: var(--icon-size-large);
    height: var(--icon-size-large);
    background: var(--color-primary-light);
    color: var(--color-primary-dark);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
    transition: 0.5s;
}

.menu .toggle.active {
    transform: rotate(315deg);
    box-shadow: 0 0 0 68px var(--color-primary-light);
    background: var(--color-primary-dark);
    color: var(--color-primary-light);
}

.menu li {
    position: absolute;
    left: 10px;
    list-style: none;
    transform: rotate(calc(360deg / 8 * var(--i))) translateX(40px);
    transform-origin: 140px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 10;
}

.menu.active li {
    visibility: visible;
    opacity: 1;
}

.menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--icon-size-small);
    height: var(--icon-size-small);
    font-size: 1.75em;
    color: var(--color-primary-dark);
    transform: rotate(calc(360deg / -8 * var(--i)));
    border-radius: 50%;
}

.menu.active li.active {
    transform: rotate(calc(360deg / 8 *var(--i))) translateX(12px);
}

.indicator {
    position: absolute;
    left: calc(50% + 2.5px);
    transform-origin: right;
    width: 100px;
    height: 1px;
    /*background: red;*/
    pointer-events: none;
    transition: 0.5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: -27.5px;
    left: 72px;
    width: var(--icon-size-small);
    height: var(--icon-size-small);
    background: var(--color-primary-dark);
    box-shadow: 0 0 0 6px green;
    border-radius: 50%;
    transition: 0.5s;
    opacity: 0;
}
.menu.active .indicator::before {
    opacity: 1;
    top: -27.5px;
    left: -27.5px;
    background: green;
    box-shadow: 0 0 0 6px var(--color-primary-dark);
}

.menu li:nth-child(2).active ~.indicator {
    transform: translateX(-103px) rotate(0deg);
}
.menu li:nth-child(3).active ~.indicator{
    transform: translateX(-103px) rotate(45deg);
}
.menu li:nth-child(4).active ~.indicator {
    transform: translateX(-103px) rotate(90deg);
}
.menu li:nth-child(5).active ~.indicator{
    transform: translateX(-103px) rotate(135deg);
}
.menu li:nth-child(6).active ~.indicator {
    transform: translateX(-103px) rotate(180deg);
}
.menu li:nth-child(7).active ~.indicator{
    transform: translateX(-103px) rotate(225deg);
}
.menu li:nth-child(8).active ~.indicator {
    transform: translateX(-103px) rotate(270deg);
}
.menu li:nth-child(9).active ~.indicator {
    transform: translateX(-103px) rotate(315deg);
}